h1 {
  text-align: center;
  font-size: 36px;
  font-family: sans-serif, helvetica;}
h2 {
  text-align: center;
  font-size: 24px;
  font-family: sans-serif, helvetica;\
  margin-top: 60px;}
h3 {
  font-size: 18px;
  font-family: sans-serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.3%;}
a {
  text-decoration: none;
  padding: 26px;
  transition: background-color .5s;}
a:link {
  color: black;}
a:visited {
  color: black;}
a:hover {
  color: white;
  background-color: dimgray;}
.topnav {
  width: 100%;
  text-align: center;
  position: relative;
  display: inline-block;
  background-color: lightgrey;
  overflow: hidden;
  font-family: sans-serif, helvetica;}
  li {
    text-align: center;
    position: relative;
    display: inline-block;
    z-index: 10;
    font-size: 18px;
    font-family: sans-serif, helvetica;}
.me {
  float: left;
  margin-left: 20%;}
.bio {
  float: left;
  margin-left: 6%;
  width: 30%;
  margin-top: 18%;
  font-size: 18px;
  font-family: sans-serif, helvetica;
  position: relative;}
.gd {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}
.gdcap {
  width: 100%;
  text-align: center;
  position: relative;
  font-family: sans-serif, helvetica;
  font-size: 14px;
  padding-top: 10px;
  }
.pic1 {
  float: left;
  width: 45%;
  margin-left: 1%;}
.pic2 {
  float: left;
  width: 45%;
  padding-top: 140px;
  padding-left: 5%;}
.pic3 {
  padding: 70px;
}
.left {
  width: 45%;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-left: 2%;
  float: left;}
.right {
  width: 45%;
  float: right;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 40px;}
